<script>
  import { v4 as uuid } from "@lukeed/uuid";
  export let prefix = uuid();
</script>

<svg
  aria-hidden="true"
  viewBox="0 0 55.929 50.997"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  ><defs
    ><mask id="{prefix}-g" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 41.754V14.287C51.801-2.24 60.253 29.786 34.653 27.662c34.358-2.65 15.225 37.455-6.688 12.77"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><mask id="{prefix}-e" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 41.754V14.287C51.801-2.24 60.253 29.786 34.653 27.662c34.358-2.65 15.225 37.455-6.688 12.77"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><mask id="{prefix}-c" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 41.754V14.287C51.801-2.24 60.253 29.786 34.653 27.662c34.358-2.65 15.225 37.455-6.688 12.77"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><mask id="{prefix}-m" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 14.287C4.129-2.24-4.323 29.786 21.277 27.662c-34.358-2.65-15.225 37.455 6.688 12.77"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><mask id="{prefix}-k" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 14.287C4.129-2.24-4.323 29.786 21.277 27.662c-34.358-2.65-15.225 37.455 6.688 12.77"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><mask id="{prefix}-i" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 14.287C4.129-2.24-4.323 29.786 21.277 27.662c-34.358-2.65-15.225 37.455 6.688 12.77"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><mask id="{prefix}-s" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 14.287c1.373-3.998 3.45-9.477 8.682-11.787"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><mask id="{prefix}-q" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 14.287c1.373-3.998 3.45-9.477 8.682-11.787"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><mask id="{prefix}-o" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 14.287c1.373-3.998 3.45-9.477 8.682-11.787"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><mask id="{prefix}-y" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 14.287c-1.373-3.998-3.45-9.477-8.682-11.787"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><mask id="{prefix}-w" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 14.287c-1.373-3.998-3.45-9.477-8.682-11.787"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><mask id="{prefix}-u" maskUnits="userSpaceOnUse"
      ><path
        class="icon"
        d="M27.965 14.287c-1.373-3.998-3.45-9.477-8.682-11.787"
        style="fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:5;stroke:#fff"
      /></mask
    ><radialGradient
      id="{prefix}-f"
      cx="67.961"
      cy="48.625"
      r="15.232"
      gradientTransform="matrix(0 2.8864 -2 0 122.71 -189.14)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-b"
    /><radialGradient
      id="{prefix}-h"
      cx="56.386"
      cy="38.008"
      r="15.232"
      gradientTransform="matrix(0 -2.8864 2 0 -20.088 213.75)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-b"
    /><radialGradient
      id="{prefix}-l"
      cx="67.961"
      cy="48.625"
      r="15.232"
      gradientTransform="matrix(0 2.8864 -2 0 97.249 -189.14)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-b"
    /><radialGradient
      id="{prefix}-n"
      cx="56.386"
      cy="38.008"
      r="15.232"
      gradientTransform="matrix(0 -2.8864 2 0 -45.552 213.75)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-b"
    /><radialGradient
      id="{prefix}-r"
      cx="67.961"
      cy="48.625"
      r="15.232"
      gradientTransform="matrix(0 1.1021 -.89824 0 69.141 -74.897)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-b"
    /><radialGradient
      id="{prefix}-t"
      cx="56.386"
      cy="38.008"
      r="15.232"
      gradientTransform="matrix(0 -1.1021 .89824 0 5.006 78.928)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-b"
    /><radialGradient
      id="{prefix}-x"
      cx="67.961"
      cy="48.625"
      r="15.232"
      gradientTransform="matrix(0 1.1021 -.89824 0 60.459 -74.897)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-b"
    /><radialGradient
      id="{prefix}-z"
      cx="56.386"
      cy="38.008"
      r="15.232"
      gradientTransform="matrix(0 -1.1021 .89824 0 -3.676 78.928)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-b"
    /><linearGradient
      id="{prefix}-d"
      x1="57.187"
      x2="80.384"
      y1="69.294"
      y2="33.773"
      gradientTransform="matrix(1.3133 0 0 1.2378 -49.639 -34.774)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-a"
    /><linearGradient id="{prefix}-a"
      ><stop style="stop-color:#005580" offset="0" /><stop
        style="stop-color:#001480"
        offset="1"
      /></linearGradient
    ><linearGradient id="{prefix}-b"
      ><stop style="stop-color:#f5fcff" offset="0" /><stop
        style="stop-color:#fff;stop-opacity:0"
        offset="1"
      /></linearGradient
    ><linearGradient
      id="{prefix}-j"
      x1="57.187"
      x2="80.384"
      y1="69.294"
      y2="33.773"
      gradientTransform="matrix(1.3133 0 0 1.2378 -75.104 -34.774)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-a"
    /><linearGradient
      id="{prefix}-p"
      x1="57.187"
      x2="80.384"
      y1="69.294"
      y2="33.773"
      gradientTransform="matrix(.58983 0 0 .4726 -8.266 -15.961)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-a"
    /><linearGradient
      id="{prefix}-v"
      x1="57.187"
      x2="80.384"
      y1="69.294"
      y2="33.773"
      gradientTransform="matrix(.58983 0 0 .4726 -16.948 -15.961)"
      gradientUnits="userSpaceOnUse"
      xlink:href="#{prefix}-a"
    /></defs
  ><path
    mask="url(#{prefix}-c)"
    style="fill:url(#{prefix}-d);paint-order:fill markers stroke"
    d="M25.465 7.03H55.93v43.967H25.465z"
  /><path
    mask="url(#{prefix}-e)"
    style="fill:url(#{prefix}-f);paint-order:fill markers stroke"
    d="M25.465 7.03H55.93v43.967H25.465z"
  /><path
    mask="url(#{prefix}-g)"
    style="fill:url(#{prefix}-h);paint-order:fill markers stroke"
    d="M25.465 7.03H55.93v43.967H25.465z"
  /><path
    mask="url(#{prefix}-i)"
    style="fill:url(#{prefix}-j);paint-order:fill markers stroke"
    d="M0 7.03h30.465v43.967H0z"
  /><path
    mask="url(#{prefix}-k)"
    style="fill:url(#{prefix}-l);paint-order:fill markers stroke"
    d="M0 7.03h30.465v43.967H0z"
  /><path
    mask="url(#{prefix}-m)"
    style="fill:url(#{prefix}-n);paint-order:fill markers stroke"
    d="M0 7.03h30.465v43.967H0z"
  /><path
    mask="url(#{prefix}-o)"
    style="fill:url(#{prefix}-p);paint-order:fill markers stroke"
    d="M25.465 0h13.682v16.787H25.465z"
  /><path
    mask="url(#{prefix}-q)"
    style="fill:url(#{prefix}-r);paint-order:fill markers stroke"
    d="M25.465 0h13.682v16.787H25.465z"
  /><path
    mask="url(#{prefix}-s)"
    style="fill:url(#{prefix}-t);paint-order:fill markers stroke"
    d="M25.465 0h13.682v16.787H25.465z"
  /><path
    mask="url(#{prefix}-u)"
    style="fill:url(#{prefix}-v);paint-order:fill markers stroke"
    d="M16.782 0h13.682v16.787H16.782z"
  /><path
    mask="url(#{prefix}-w)"
    style="fill:url(#{prefix}-x);paint-order:fill markers stroke"
    d="M16.782 0h13.682v16.787H16.782z"
  /><path
    mask="url(#{prefix}-y)"
    style="fill:url(#{prefix}-z);paint-order:fill markers stroke"
    d="M16.782 0h13.682v16.787H16.782z"
  /></svg
>
