<script context="module">
  export const meta = {
    title: "lib",
    description: "a place for miscelaneous things",
  };
</script>

<script>
  import PostCard from "$lib/components/PostCard.svelte";

  /** @type {import('./$types').PageData} */
  export let data;
</script>

<nav>
  {#each data.routes as route}
    <PostCard {route} meta={{ title: route.substring("/lib/".length) }} />
  {/each}
</nav>
