<script context="module">
  export const meta = {
    title: "Ben Blazak's Blog",
    description: "Blog posts on software, dancing, and life.",
  };
</script>

<script>
  import { dev } from "$app/environment";
  import PostCard from "$lib/components/PostCard.svelte";

  /** @type {import('./$types').PageData} */
  export let data;

  $: posts = data.posts.filter(({ meta }) => {
    if (!dev) {
      if (meta.keywords?.includes("draft")) return false;
    }
    return true;
  });
</script>

<nav class="posts">
  {#each posts as { route, meta } (route)}
    <PostCard {route} {meta} />
  {/each}
</nav>

<style lang="scss">
  .posts {
    width: min($p-width, 100%);
  }
</style>
