<script>
  import Page from "$lib/layouts/Page.svelte";

  import { page } from "$app/stores";
  $: title = $page.status + ": " + $page.error.message;

  import PageMessage from "$lib/components/PageMessage.svelte";
  import { icon } from "@fortawesome/fontawesome-svg-core";
  import { faBug } from "@fortawesome/free-solid-svg-icons";
</script>

<!--
  as of 2022-11-02
  - the title doesn't get removed when navigating away from the error page,
    which messes up the title for other pages, untill the page is manually
    refreshed
-->
<!--
<svelte:head>
  <title>{title}</title>
  <meta name="description" content={title} />
</svelte:head>
-->

<Page>
  <PageMessage {title}>
    <span slot="icon">{@html icon(faBug).html}</span>
  </PageMessage>
</Page>
