<script>
  import { page } from "$app/stores";
  $: meta = $page.data.meta?.meta ?? {};

  import "$lib/styles/app.scss";
  import { external } from "$lib/assets.js";

  import "@fortawesome/fontawesome-svg-core/styles.css";
  import { config } from "@fortawesome/fontawesome-svg-core";
  config.autoAddCss = false;
</script>

<svelte:head>
  <link rel="icon" href="/favicon.ico" sizes="any" />
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />

  {@html meta.tagHTML ?? ""}
  {@html meta.ogHTML ?? ""}
  {@html meta.jsonldHTML ?? ""}

  <link rel="manifest" href="/site.webmanifest" />
  <meta
    name="theme-color"
    media="(prefers-color-scheme: light)"
    content="#fdf6e3"
  />
  <meta
    name="theme-color"
    media="(prefers-color-scheme: dark)"
    content="#002b36"
  />

  <link rel="preload stylesheet" href={external.google_fonts} as="style" />

  <script
    defer
    src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon={'{"token": "d4785b72633a4c029f3028ba604e4bca"}'}
  ></script>
</svelte:head>

<slot />
