// global styles

@use "$lib/styles/vars" as *;
@use "sass:color";
@use "sass:map";

:root {
  --sans-serif: quicksand, "helvetica neue", arial, sans-serif;

  // colors
  // - background and theme colors are also set in `__layout.svelte` and
  //   `site.webmanifest`
  @mixin color-vars($theme) {
    @each $name, $color in $theme {
      $color: map.get($theme, $name);
      $rgb: #{color.red($color)}, #{color.green($color)}, #{color.blue($color)};

      #{"--color-#{$name}"}: #{$color};
      #{"--color-#{$name}-rgb"}: #{$rgb};
    }
  }
  @include color-vars($sol-light);
  @media (prefers-color-scheme: dark) {
    @include color-vars($sol-dark);
  }
  @media print {
    @include color-vars(($tw-print));
  }
}

:root {
  font-family: var(--sans-serif);

  color: var(--color-text);
  background-color: var(--color-background);
}

html,
body {
  margin: 0;
}

body {
  display: grid;
  grid: "header" auto "content" 1fr "footer" auto / auto;
  min-height: 100vh;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
main {
  grid-area: content;
  margin: $padding;
  display: grid;
  place-items: start center;
}

a {
  text-decoration: none;
  color: currentColor;
}
a:active {
  opacity: 75%;
  &:has(a:active) {
    opacity: inherit;
  }
}
@media (hover) {
  a:hover {
    color: var(--color-accent);
  }
}

p,
li,
summary {
  max-width: $p-width;
}

pre {
  margin: 0;
  max-width: 100%;
  overflow-x: auto;
}

hr {
  border: none;
  border-bottom: $hr-width solid currentColor;
}

details > summary {
  cursor: pointer;
}

// - https://unused-css.com/blog/css-rounded-table-corners/
table {
  $padding: 0.5em;
  $border-width: 1px;

  margin-top: 1em;
  margin-bottom: 1em;
  border-spacing: $border-width;

  th,
  td {
    padding: $padding;
    box-shadow: 0 0 0 $border-width var(--color-comment);
  }
  tr:first-of-type {
    > :first-child {
      border-top-left-radius: $padding;
    }
    > :last-child {
      border-top-right-radius: $padding;
    }
  }
  tr:last-of-type {
    > :first-child {
      border-bottom-left-radius: $padding;
    }
    > :last-child {
      border-bottom-right-radius: $padding;
    }
  }
  tr:nth-child(odd) {
    background-color: rgb(var(--color-highlight-rgb), 0.4);
  }

  th > :first-child,
  td > :first-child {
    margin-top: 0;
  }
  th > :last-child,
  td > :last-child {
    margin-bottom: 0;
  }
}
