@use "vars" as *;
@use "util";
@use "sass:color";

@use "post/solarized";

article.post {
  min-width: 0;
  max-width: 100%;

  .body {
    a {
      &.heading {
        color: currentColor;
      }
      &:not(.heading) {
        color: var(--color-accent);
      }
    }
  }

  .footnotes {
    hr {
      border-color: var(--color-comment);
    }
    .footnote-back::before {
      content: " ";
    }
  }

  @include util.admonition-div(
    $class: "code",
    $content: attr(data-label),
    $color: var(--color-comment-rgb),
    $border-alpha: 0.9,
    $label-alpha: 1,
    $border-width: 2px,
    $selector: "div.code[data-label], div.kbd[data-label], div.samp[data-label]"
  );
  div.code:not([data-label]),
  div.kbd:not([data-label]),
  div.samp:not([data-label]) {
    max-width: fit-content;
    padding: $padding;
    margin: $padding 0;
    border: 2px solid rgb(var(--color-comment-rgb), 0.9);
    border-radius: $padding;
  }
  pre.code,
  pre.kbd,
  pre.samp {
    width: 80ch;
  }

  @mixin admonition($name, $color) {
    @include util.admonition-span(
      $class: $name,
      $color: $color,
      $underline-alpha: 0.9
    );

    // $border-width: 1px -> $border-alpha: 0.8
    // $border-width: 2px -> $border-alpha: 0.6
    @include util.admonition-div(
      $class: $name,
      $content: $name,
      $color: $color,
      $border-alpha: 0.6,
      $label-alpha: 0.8,
      $border-width: 2px
    );
  }
  @include admonition("note", var(--color-blue-rgb));
  @include admonition("tip", var(--color-green-rgb));
  @include admonition("important", var(--color-yellow-rgb));
  @include admonition("caution", var(--color-orange-rgb));
  @include admonition("warning", var(--color-red-rgb));
}
