@use "vars" as *;

@mixin admonition-span($class, $color, $underline-alpha) {
  span.#{$class} {
    text-decoration: underline;
    text-decoration-color: rgb($color, $underline-alpha);
  }
}

@mixin admonition-div(
  $class,
  $content,
  $color,
  $border-alpha,
  $label-alpha,
  $border-width,
  $selector: "div.#{$class}" // overrides $class
) {
  #{$selector} {
    $label-padding: calc($padding / 2);
    $border: $border-width solid rgb($color, $border-alpha);

    max-width: fit-content;
    padding: $padding;
    padding-top: $label-padding;
    margin-top: $padding;
    margin-bottom: $padding;
    border: $border;
    border-radius: $padding;
    > :first-child {
      padding-top: $padding;
      margin-top: calc($label-padding + $border-width);
    }
    > :last-child {
      margin-bottom: 0;
    }
    &::before {
      content: $content;
      font-weight: bold;
      color: rgba($color, $label-alpha);
      padding: $label-padding;
      margin-left: -$padding;
      border-bottom: $border;
      border-right: $border;
      border-bottom-right-radius: $label-padding;
    }
  }
}
