// global variables

$padding: 1rem;
$p-width: 35em;
$hr-width: 1px;

// tailwind screen breakpoints 2021-10-23 https://unpkg.com/browse/tailwindcss@2.2.17/stubs/defaultConfig.stub.js
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-2xl: 1536px;

// ----------------------------------------------------------------------------
// solarized colors
// https://ethanschoonover.com/solarized/

$sol-base03: #002b36;
$sol-base02: #073642;
$sol-base01: #586e75;
$sol-base00: #657b83;
$sol-base0: #839496;
$sol-base1: #93a1a1;
$sol-base2: #eee8d5;
$sol-base3: #fdf6e3;
$sol-yellow: #b58900;
$sol-orange: #cb4b16;
$sol-red: #dc322f;
$sol-magenta: #d33682;
$sol-violet: #6c71c4;
$sol-blue: #268bd2;
$sol-cyan: #2aa198;
$sol-green: #859900;

// - foreground: text, emph, comment
// - background: background, highlight
// - when using `highlight`, also use `emph`

$sol-light: (
  "accent": $sol-blue,
  // ---
  "emph": $sol-base01,
  "text": $sol-base00,
  "comment": $sol-base1,
  "highlight": $sol-base2,
  "background": $sol-base3,
  // ---
  "blue": $sol-blue,
  "green": $sol-green,
  "yellow": $sol-yellow,
  "orange": $sol-orange,
  "red": $sol-red,
);

$sol-dark: (
  "accent": $sol-blue,
  // ---
  "emph": $sol-base1,
  "text": $sol-base0,
  "comment": $sol-base01,
  "highlight": $sol-base02,
  "background": $sol-base03,
  // ---
  "blue": $sol-blue,
  "green": $sol-green,
  "yellow": $sol-yellow,
  "orange": $sol-orange,
  "red": $sol-red,
);

// ----------------------------------------------------------------------------
// tailwind colors 2021-10-02
// https://github.com/tailwindlabs/tailwindcss/blob/master/src/public/colors.js

$tw-black: #000;
$tw-white: #fff;
$tw-slate-50: #f8fafc;
$tw-slate-100: #f1f5f9;
$tw-slate-200: #e2e8f0;
$tw-slate-300: #cbd5e1;
$tw-slate-400: #94a3b8;
$tw-slate-500: #64748b;
$tw-slate-600: #475569;
$tw-slate-700: #334155;
$tw-slate-800: #1e293b;
$tw-slate-900: #0f172a;
$tw-gray-50: #f9fafb;
$tw-gray-100: #f3f4f6;
$tw-gray-200: #e5e7eb;
$tw-gray-300: #d1d5db;
$tw-gray-400: #9ca3af;
$tw-gray-500: #6b7280;
$tw-gray-600: #4b5563;
$tw-gray-700: #374151;
$tw-gray-800: #1f2937;
$tw-gray-900: #111827;
$tw-zinc-50: #fafafa;
$tw-zinc-100: #f4f4f5;
$tw-zinc-200: #e4e4e7;
$tw-zinc-300: #d4d4d8;
$tw-zinc-400: #a1a1aa;
$tw-zinc-500: #71717a;
$tw-zinc-600: #52525b;
$tw-zinc-700: #3f3f46;
$tw-zinc-800: #27272a;
$tw-zinc-900: #18181b;
$tw-neutral-50: #fafafa;
$tw-neutral-100: #f5f5f5;
$tw-neutral-200: #e5e5e5;
$tw-neutral-300: #d4d4d4;
$tw-neutral-400: #a3a3a3;
$tw-neutral-500: #737373;
$tw-neutral-600: #525252;
$tw-neutral-700: #404040;
$tw-neutral-800: #262626;
$tw-neutral-900: #171717;
$tw-stone-50: #fafaf9;
$tw-stone-100: #f5f5f4;
$tw-stone-200: #e7e5e4;
$tw-stone-300: #d6d3d1;
$tw-stone-400: #a8a29e;
$tw-stone-500: #78716c;
$tw-stone-600: #57534e;
$tw-stone-700: #44403c;
$tw-stone-800: #292524;
$tw-stone-900: #1c1917;
$tw-red-50: #fef2f2;
$tw-red-100: #fee2e2;
$tw-red-200: #fecaca;
$tw-red-300: #fca5a5;
$tw-red-400: #f87171;
$tw-red-500: #ef4444;
$tw-red-600: #dc2626;
$tw-red-700: #b91c1c;
$tw-red-800: #991b1b;
$tw-red-900: #7f1d1d;
$tw-orange-50: #fff7ed;
$tw-orange-100: #ffedd5;
$tw-orange-200: #fed7aa;
$tw-orange-300: #fdba74;
$tw-orange-400: #fb923c;
$tw-orange-500: #f97316;
$tw-orange-600: #ea580c;
$tw-orange-700: #c2410c;
$tw-orange-800: #9a3412;
$tw-orange-900: #7c2d12;
$tw-amber-50: #fffbeb;
$tw-amber-100: #fef3c7;
$tw-amber-200: #fde68a;
$tw-amber-300: #fcd34d;
$tw-amber-400: #fbbf24;
$tw-amber-500: #f59e0b;
$tw-amber-600: #d97706;
$tw-amber-700: #b45309;
$tw-amber-800: #92400e;
$tw-amber-900: #78350f;
$tw-yellow-50: #fefce8;
$tw-yellow-100: #fef9c3;
$tw-yellow-200: #fef08a;
$tw-yellow-300: #fde047;
$tw-yellow-400: #facc15;
$tw-yellow-500: #eab308;
$tw-yellow-600: #ca8a04;
$tw-yellow-700: #a16207;
$tw-yellow-800: #854d0e;
$tw-yellow-900: #713f12;
$tw-lime-50: #f7fee7;
$tw-lime-100: #ecfccb;
$tw-lime-200: #d9f99d;
$tw-lime-300: #bef264;
$tw-lime-400: #a3e635;
$tw-lime-500: #84cc16;
$tw-lime-600: #65a30d;
$tw-lime-700: #4d7c0f;
$tw-lime-800: #3f6212;
$tw-lime-900: #365314;
$tw-green-50: #f0fdf4;
$tw-green-100: #dcfce7;
$tw-green-200: #bbf7d0;
$tw-green-300: #86efac;
$tw-green-400: #4ade80;
$tw-green-500: #22c55e;
$tw-green-600: #16a34a;
$tw-green-700: #15803d;
$tw-green-800: #166534;
$tw-green-900: #14532d;
$tw-emerald-50: #ecfdf5;
$tw-emerald-100: #d1fae5;
$tw-emerald-200: #a7f3d0;
$tw-emerald-300: #6ee7b7;
$tw-emerald-400: #34d399;
$tw-emerald-500: #10b981;
$tw-emerald-600: #059669;
$tw-emerald-700: #047857;
$tw-emerald-800: #065f46;
$tw-emerald-900: #064e3b;
$tw-teal-50: #f0fdfa;
$tw-teal-100: #ccfbf1;
$tw-teal-200: #99f6e4;
$tw-teal-300: #5eead4;
$tw-teal-400: #2dd4bf;
$tw-teal-500: #14b8a6;
$tw-teal-600: #0d9488;
$tw-teal-700: #0f766e;
$tw-teal-800: #115e59;
$tw-teal-900: #134e4a;
$tw-cyan-50: #ecfeff;
$tw-cyan-100: #cffafe;
$tw-cyan-200: #a5f3fc;
$tw-cyan-300: #67e8f9;
$tw-cyan-400: #22d3ee;
$tw-cyan-500: #06b6d4;
$tw-cyan-600: #0891b2;
$tw-cyan-700: #0e7490;
$tw-cyan-800: #155e75;
$tw-cyan-900: #164e63;
$tw-sky-50: #f0f9ff;
$tw-sky-100: #e0f2fe;
$tw-sky-200: #bae6fd;
$tw-sky-300: #7dd3fc;
$tw-sky-400: #38bdf8;
$tw-sky-500: #0ea5e9;
$tw-sky-600: #0284c7;
$tw-sky-700: #0369a1;
$tw-sky-800: #075985;
$tw-sky-900: #0c4a6e;
$tw-blue-50: #eff6ff;
$tw-blue-100: #dbeafe;
$tw-blue-200: #bfdbfe;
$tw-blue-300: #93c5fd;
$tw-blue-400: #60a5fa;
$tw-blue-500: #3b82f6;
$tw-blue-600: #2563eb;
$tw-blue-700: #1d4ed8;
$tw-blue-800: #1e40af;
$tw-blue-900: #1e3a8a;
$tw-indigo-50: #eef2ff;
$tw-indigo-100: #e0e7ff;
$tw-indigo-200: #c7d2fe;
$tw-indigo-300: #a5b4fc;
$tw-indigo-400: #818cf8;
$tw-indigo-500: #6366f1;
$tw-indigo-600: #4f46e5;
$tw-indigo-700: #4338ca;
$tw-indigo-800: #3730a3;
$tw-indigo-900: #312e81;
$tw-violet-50: #f5f3ff;
$tw-violet-100: #ede9fe;
$tw-violet-200: #ddd6fe;
$tw-violet-300: #c4b5fd;
$tw-violet-400: #a78bfa;
$tw-violet-500: #8b5cf6;
$tw-violet-600: #7c3aed;
$tw-violet-700: #6d28d9;
$tw-violet-800: #5b21b6;
$tw-violet-900: #4c1d95;
$tw-purple-50: #faf5ff;
$tw-purple-100: #f3e8ff;
$tw-purple-200: #e9d5ff;
$tw-purple-300: #d8b4fe;
$tw-purple-400: #c084fc;
$tw-purple-500: #a855f7;
$tw-purple-600: #9333ea;
$tw-purple-700: #7e22ce;
$tw-purple-800: #6b21a8;
$tw-purple-900: #581c87;
$tw-fuchsia-50: #fdf4ff;
$tw-fuchsia-100: #fae8ff;
$tw-fuchsia-200: #f5d0fe;
$tw-fuchsia-300: #f0abfc;
$tw-fuchsia-400: #e879f9;
$tw-fuchsia-500: #d946ef;
$tw-fuchsia-600: #c026d3;
$tw-fuchsia-700: #a21caf;
$tw-fuchsia-800: #86198f;
$tw-fuchsia-900: #701a75;
$tw-pink-50: #fdf2f8;
$tw-pink-100: #fce7f3;
$tw-pink-200: #fbcfe8;
$tw-pink-300: #f9a8d4;
$tw-pink-400: #f472b6;
$tw-pink-500: #ec4899;
$tw-pink-600: #db2777;
$tw-pink-700: #be185d;
$tw-pink-800: #9d174d;
$tw-pink-900: #831843;
$tw-rose-50: #fff1f2;
$tw-rose-100: #ffe4e6;
$tw-rose-200: #fecdd3;
$tw-rose-300: #fda4af;
$tw-rose-400: #fb7185;
$tw-rose-500: #f43f5e;
$tw-rose-600: #e11d48;
$tw-rose-700: #be123c;
$tw-rose-800: #9f1239;
$tw-rose-900: #881337;

$tw-print: (
  "accent": $sol-blue,
  // ---
  "emph": $tw-black,
  "text": $tw-black,
  "comment": $tw-gray-500,
  "highlight": $tw-gray-100,
  "background": $tw-white,
  // ---
  "blue": $sol-blue,
  "green": $sol-green,
  "yellow": $sol-yellow,
  "orange": $sol-orange,
  "red": $sol-red,
);
