<script>
  import Image from "$lib/components/Image.svelte";

  import linuxplus from "../images/linuxplus.png?preset=140&meta";
  import lpic from "../images/lpic-1.svg?raw";
</script>

<section class="certifications">
  <h2>Certifications</h2>
  <div class="content">
    <span class="image"><Image meta={linuxplus} width="70" /></span>
    <span class="name">CompTIA Linux+</span>
    <!--  -->
    <span class="image">{@html lpic}</span>
    <span class="name">LPIC-1</span>
    <!--  -->
    <span class="image secret">SECRET</span>
    <span class="name">Secret Clearance</span>
  </div>
</section>

<style lang="scss">
  section {
    > div {
      display: grid;
      grid: auto-flow / auto 1fr;
      grid-gap: 0.5em 1em;
      place-items: center start;
    }

    :global(svg) {
      width: 70px;
      vertical-align: middle;
    }
    .image {
      place-self: center;
    }
    .image.secret {
      color: var(--color-text);
      padding: 0.25em;
      border: 1px solid currentColor;
      border-radius: 0.25em;
    }
    .name {
      white-space: nowrap;
    }
  }
</style>
