<script>
  import { page } from "$app/stores";
  import { onMount } from "svelte";

  import butterfly from "$lib/icons/butterfly.svg?raw";
  import { icon } from "@fortawesome/fontawesome-svg-core";
  import {
    faGithub,
    faGitlab,
    faLinkedin,
  } from "@fortawesome/free-brands-svg-icons";
  import { faMobileAlt } from "@fortawesome/free-solid-svg-icons";
  import { faEnvelope } from "@fortawesome/free-regular-svg-icons";

  let phone;
  let email;
  $: priv = Boolean(phone || email);

  onMount(() => {
    phone = $page.url.searchParams.get("phone");
    email = $page.url.searchParams.get("email");
  });
</script>

<section class="contact">
  {#if priv}
    <div class="private">
      {#if phone}
        <a
          href="tel:{phone.replace(/-/g, '')}"
          target="_blank"
          rel="noreferrer"
        >
          {@html icon(faMobileAlt, { classes: ["fa-fw"] }).html}
          <span>{@html phone}</span>
        </a>
      {/if}
      {#if email}
        <a href="mailto:{email}" target="_blank" rel="noreferrer">
          {@html icon(faEnvelope, { classes: ["fa-fw"] }).html}
          <span>{email}</span>
        </a>
      {/if}
    </div>
  {/if}
  <div class="public">
    <a
      class="butterfly"
      href="https://www.benblazak.dev"
      target="_blank"
      rel="noreferrer"
    >
      {@html butterfly}
      <span>benblazak.dev</span>
    </a>
    <a href="https://github.com/benblazak" target="_blank" rel="noreferrer">
      {@html icon(faGithub, { classes: ["fa-fw"] }).html}
      <span>github.com/benblazak</span>
    </a>
    <a href="https://gitlab.com/benblazak" target="_blank" rel="noreferrer">
      {@html icon(faGitlab, { classes: ["fa-fw"] }).html}
      <span>gitlab.com/benblazak</span>
    </a>
    <a
      href="https://linkedin.com/in/benblazak"
      target="_blank"
      rel="noreferrer"
    >
      {@html icon(faLinkedin, { classes: ["fa-fw"] }).html}
      <span>linkedin.com/in/benblazak</span>
    </a>
  </div>
</section>

<style lang="scss">
  section {
    display: grid;
    grid-gap: 1.5em;

    > div {
      display: grid;
      grid-gap: 0.5em;
      white-space: nowrap;
      max-width: none;
    }

    // for fontawesome icons
    // - vertical-align: -0.125em;
    // - height: 1em;
    // - total width: 1.25em; // icon widths vary a bit
    // for this icon
    // - i think it looks better a little bigger
    // - if i set a small margin, for some reason the spacing changes when it
    //   prints (in safari). this is pretty close.
    .butterfly {
      :global(svg) {
        width: 1.2em;
        vertical-align: -0.125em; // match fontawesome
      }
    }
  }
</style>
