section.experience
  h2 Experience
  section
    .company
      h3 Raytheon Technologies
      p July 2023 &ndash; October 2024
    .job
      p Software Engineer &ndash; PAC-3 (Patriot Advanced Capability - 3)
      ul
        li Designed and developed an internal tool for decoding PAC-3 launcher action and response messages
        li.tech.
          C#, Git, VS Code
  section
    .company
      h3 KAB Laboratories
      p September 2017 &ndash; September 2020
    .job
      p Software Engineer &ndash; CeDAR (Centralized Dashboard for Analysis and Reporting)
      ul
        li Part of a team responsible for maintaining and extending a dashboard used by multiple stakeholders to view and control network access, monitor vulnerability scans, and generate reports
        li Took initiative to finish the detailed design of the first phase of a customer requested modernization effort with the team lead
        li Designed and implemented a microservice to synchronize data between the site LDAP server and our new GraphQL API
        li Co-designed the microservice implementing that GraphQL API
        li.tech.
          Go, GraphQL, AngularJS,
          JavaScript, HTML, CSS,
          NodeJS, PostgreSQL, Git, GitLab, Redmine, VS Code,
          Linux (Red Hat, CentOS)
    .job
      p Software Engineer &ndash; SSDS (Ship Self Defense System)
      ul
        li Part of a team brought in to assist in updating and correcting the HMI (Human Machine Interface), partly in preparation for a recompete
        li Helped grow the team from 4 to ~30 engineers
        li Automated setup tasks, saving days of time per developer
        li Interviewed applicants and mentored junior engineers
        li.tech.
          Java, Swing, C++, Tcl/Tk, Python, Ada,
          ClearCase, ClearQuest, Eclipse,
          Linux (Red Hat, CentOS)
  section
    .company
      h3 Northrop Grumman
      p September 2016 &ndash; September 2017
    .job
      p Software Engineer &ndash; Fire Scout
      ul
        li.
          Designed, developed, tested, and delivered a graphical application for
          viewing and debugging KLV (Key, Length, Value) metadata in video
          streams, resolving a longstanding customer support request in less
          than one month
        li.tech.
          Python, tkinter, ffmpeg
    .job
      p Software Engineer &ndash; Triton Ground Segment
      ul
        li Became the de-facto expert on the Electro-Optical/Infrared Control and Display
        li Trained incoming team members on code paths and process
        li.tech.
          C++, C#, Qt,
          ClearCase, ClearQuest, Visual Studio,
          JIRA, Confluence
  section.page-top
    .company 
      h3 California State University, Fullerton
      p August 2015 &ndash; May 2016
    .job
      p Part Time Lecturer
      ul 
        li Taught object oriented C++ to a total of 169 second semester students
        li Students did well in subsequent courses
        li.
          Developed course materials, assignments, and grading scripts, and
          reorganized content for standards based grading
        li.tech.
          C++, Python, LaTeX, Git, GitHub, Visual Studio, Vim, Make
  section
    .company
      h3 NASA Jet Propulsion Laboratory
      p January 2015 &ndash; June 2015
    .job
      p Undergraduate Intern
      ul 
        li.
          Designed, programmed, and fabricated a control system for 16 bistable
          shutters, along with a serial over USB protocol for bidirectional
          host/controller communication, and a thorough test interface
        li.tech.
          Python, Arduino, Inkscape, OpenSCAD,
          MOSFETs, LDO voltage regulators, various connectors and cabling
  section
    .company 
      h3 US Army
      p June 2004 &ndash; June 2013
    .job 
      p Reservist &ndash; Sergeant (E-5)
      div
        p Deployed to Qatar as an Animal Care Specialist May 2010 &ndash; June 2011
        ul 
          li Automated tracking of Military Working Dog medical care
          li Comprehensively reviewed and updated clinic Standard Operating Procedures
          li Developed team transition plan and continuity information
        p As a reservist
        ul
          li Mentored junior soldiers
          li Participated in training to maintain readiness

section.education
  h2 Education
  .company
    h3 California State University, Fullerton
    p Graduated Spring 2015
  .job 
    p B.S. in Computer Science, Minor in Mathematics

section.extracurricular
  h2 Extracurricular
  .company 
    h3 International Zouk Day, Dance Team Member
    p September 2019
  .company
    h3 ACM-W Faculty Volunteer
    p Fall 2015 &ndash; Spring 2016
  .company 
    h3 MAA MathFest Presenter
    p Summer 2014
