<script>
  import Image from "$lib/components/Image.svelte";

  import butterflyColor from "$lib/assets/butterfly-color-500w.png?preset=96&meta";
  import ergodox from "../images/ergodox.jpg?preset=240&meta";
</script>

<section class="projects">
  <h2>Projects</h2>
  <div>
    <h3 class="name">Homepage</h3>
    <span class="image homepage"
      ><Image meta={butterflyColor} width="48" /></span
    >
    <div class="description">
      <ul>
        <li>
          <a href="https://www.benblazak.dev" target="_blank" rel="noreferrer">
            benblazak.dev
          </a>
        </li>
        <li>
          <a
            href="https://gitlab.com/benblazak/homepage"
            target="_blank"
            rel="noreferrer"
          >
            gitlab &ndash; homepage
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <h3 class="name">ErgoDox Keyboard</h3>
    <span class="image"><Image meta={ergodox} width="120" /></span>
    <div class="description">
      <ul>
        <li>
          <a href="https://www.ergodox.io" target="_blank" rel="noreferrer">
            ergodox.io
          </a>
        </li>
        <li>
          <a
            href="https://github.com/benblazak/ergodox-firmware"
            target="_blank"
            rel="noreferrer"
          >
            github &ndash; ergodox-firmware
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    > :not(:first-child):not(:last-child) {
      margin-bottom: 1em;
    }

    > div {
      display: grid;
      place-items: start;
    }

    :global(svg) {
      height: 100%;
      width: 100%;
      vertical-align: middle;
    }
    .name {
      margin-top: 0;
      margin-bottom: 0.25em;
      white-space: nowrap;
    }
    .image {
      border: 2px solid rgba(var(--color-comment-rgb), 0.7);
      border-radius: 0.5em;
      overflow: hidden;
      box-sizing: border-box;
    }
    .image.homepage {
      padding: 5px;
      background-color: rgba(var(--color-blue-rgb), 0.1);
      -webkit-print-color-adjust: exact;
    }
    .description {
      place-self: start;
      text-align: left;
      ul {
        list-style-position: inside;
        padding-left: 0;
      }
    }
  }
</style>
