<script>
  import Post from "$lib/layouts/Post.svelte";

  import { page } from "$app/stores";
  $: meta = $page.data.meta ?? {};
</script>

<svelte:head>
  {#if meta.keywords?.includes("draft")}
    <!-- https://developers.google.com/search/docs/advanced/robots/robots_meta_tag -->
    <meta name="robots" content="noindex" />
  {/if}
</svelte:head>

<Post>
  <slot />
</Post>
