<script context="module">
  export const meta = {
    title: "Ben Blazak",
    description:
      "A personal page, to showcase things i'm working on (when i have them), and experiment for fun.",
  };
</script>

<script>
  import Image from "$lib/components/Image.svelte";
  import me from "$lib/assets/me.jpg?preset=224&meta&imagetools";

  import { icon } from "@fortawesome/fontawesome-svg-core";
  import {
    faGithub,
    faGitlab,
    faTwitter,
  } from "@fortawesome/free-brands-svg-icons";
</script>

<article class="about-me">
  <Image meta={me} alt="me" />
  <aside>
    <a href="https://github.com/benblazak" target="_blank" rel="noreferrer">
      {@html icon(faGithub, { classes: ["fa-fw"] }).html}
    </a>
    <a href="https://gitlab.com/benblazak" target="_blank" rel="noreferrer">
      {@html icon(faGitlab, { classes: ["fa-fw"] }).html}
    </a>
    <!-- <a href="https://twitter.com/benblazak" target="_blank" rel="noreferrer">
      {@html icon(faTwitter, { classes: ["fa-fw"] }).html}
    </a> -->
  </aside>
  <p>
    Hi, I'm Ben. I like to understand things and teach others. Dancing,
    especially swing and zouk, is my favorite social activity. If I'm not doing
    that, you'll typically find me playing with software, or sometimes hardware,
    or attempting to understand humans. Humans are the hardest, but also the
    most rewarding.
  </p>
</article>

<style lang="scss">
  article {
    margin: $padding;
  }
  .about-me {
    display: grid;
    grid: auto auto / auto-flow;
    gap: $padding $padding * 2;
    justify-items: center;
    align-items: center;
    @media (max-width: $screen-sm) {
      grid: auto-flow / auto;
    }
    :global(img) {
      border-radius: 50%;
    }
    aside {
      color: var(--color-comment);
      :global(svg) {
        padding: $padding;
        margin: -$padding 0;
      }
    }
    p {
      margin: 0;
    }
  }
</style>
