<script context="module">
  export const meta = {
    title: "splash screen",
    description: "a splash screen",
  };
</script>

<script lant="ts">
  import butterfly from "$lib/icons/butterfly-color.svg?raw";
</script>

<main>
  {@html butterfly}
</main>

<style lang="scss">
  main {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;

    :global(svg) {
      place-self: center;
      max-width: 75%;
      max-height: 75%;
    }
  }
</style>
