<script context="module">
  export const meta = {
    title: "Ben Blazak's Resume",
    description: "Ben Blazak's Resume",
  };
</script>

<script>
  import "./page.scss";
  import Header from "$lib/components/RootHeader.svelte";

  import Contact from "./parts/Contact.svelte";
  import Projects from "./parts/Projects.svelte";
  import Certifications from "./parts/Certifications.svelte";
</script>

<Header class="Resume media-screen" />

<main class="Resume">
  <h1 class="media-print name">Ben Blazak</h1>
  <h1 class="media-screen media-small title">Resume</h1>

  <div class="media-small">
    <Contact />
  </div>

  <div class="left">
    <template lang="pug" src="./parts/content.pug"></template>
  </div>

  <div class="right">
    <div class="media-big"><Contact /></div>
    <Projects />
    <Certifications />
  </div>
</main>

<style lang="scss">
  main {
    display: grid;
    place-self: start center;
    place-items: start start;

    > div {
      width: 100%;
    }
    .title {
      margin-top: 0;
    }

    max-width: 8.5in;
    @media print {
      margin: 0.25in;
      font-size: 10pt;

      .name {
        margin: 0;
        margin-top: -0.08in;
      }

      // // for safari
      // .page-top {
      //   padding-top: 0.09in;
      // }
    }

    @media print, not all and (max-width: $screen-sm) {
      grid: auto / 3fr 1fr;
      grid-gap: 0 1em;
      grid-template-areas: "left right";
      .left {
        grid-column: left;
        margin-top: 0;
      }
      .right {
        grid-column: right;
        @media not print {
          grid-row: 1 / span 2;
          margin-top: 1.5em;
        }
      }
    }
  }
</style>
