@use "$lib/styles/vars" as *;

.Resume {
  @media not screen {
    &.media-screen,
    .media-screen {
      display: none !important;
    }
  }
  @media not print {
    &.media-print,
    .media-print {
      display: none !important;
    }
  }

  @media screen and (max-width: $screen-sm) {
    &.media-big,
    .media-big {
      display: none !important;
    }
  }
  @media print, not all and (max-width: $screen-sm) {
    &.media-small,
    .media-small {
      display: none !important;
    }
  }

  p {
    max-width: none;
  }
  section {
    width: 100%;
    page-break-inside: avoid;
    &.experience {
      page-break-inside: auto;
    }
  }
  h2::after {
    content: "";
    display: block;
    width: 100%;
    border: 1px solid var(--color-comment);
    border-radius: 1px;
  }
  p,
  :not(li) > ul {
    margin: 0.5em auto;
  }

  .company {
    margin-top: 0.75em;
    > * {
      margin: 0 auto;
    }
    > :nth-child(2) {
      color: var(--color-comment);
    }
  }
  .job {
    > :nth-child(1) {
      font-style: italic;
    }
  }
  .tech {
    color: var(--color-comment);
    &::before {
      content: "Used: ";
    }
  }
}
