<script>
  import tea from "$lib/icons/tea-leaf.svg?raw";

  export let href;
</script>

<a class="button" {href} target="_blank" rel="noreferrer">
  {@html tea}
  <span class="text">Buy me tea</span>
</a>

<style lang="scss">
  .button {
    display: inline-flex;
    color: currentColor;
    background-color: var(--color-highlight);
    padding: $padding;
    border-radius: $padding;
    align-items: center;

    @media (hover) {
      &:hover {
        $width: $hr-width;
        $color: var(--color-comment);

        box-shadow: 0 0 calc($width * 2) $width $color;
      }
    }

    .text {
      margin-left: 0.5em;
      white-space: nowrap;
    }

    :global(svg) {
      height: 1em;
    }
    :global(.stroke) {
      fill: rgb(var(--color-text-rgb), 0.9);
    }
    :global(.fill) {
      fill: rgb(var(--color-comment-rgb), 0.3);
    }
  }
</style>
