<script>
  export let title;
</script>

<div class="center">
  <div class="icon"><slot name="icon" /></div>
  <slot name="title"><h1>{title}</h1></slot>
  <div class="left">
    <pre>
      <slot />
    </pre>
  </div>
</div>

<style>
  .center {
    place-self: center;
    text-align: center;
  }
  .icon {
    font-size: 7em;
  }
  h1 {
    margin-top: 0;
  }
  .left {
    text-align: left;
  }
</style>
