<script>
  import { label, keywords, authors, dates } from "./post.js";

  export let meta;
  export let toc;
</script>

<header class="PostHeader">
  {#if meta.title}
    <h1 class="title">
      {@html meta.title}
      {#if meta.subtitle}
        <br />{@html label(meta.subtitle)}
      {/if}
    </h1>
  {/if}
  {@html keywords(meta, { div: true })}
  {@html authors(meta, { div: true, label: true })}
  <!-- there shouldn't be history without a date -->
  {#if meta.date || meta.updated}
    <svelte:element this={meta.history ? "details" : "div"}>
      <svelte:element this={meta.history ? "summary" : "div"}>
        {@html dates(meta, { span: true })}
      </svelte:element>
      {#if meta.history}
        <div class="content">
          <table class="history">
            {#each meta.history as { date, description }}
              <tr>
                <td class="date">{@html date}</td>
                <td class="description">{@html description}</td>
              </tr>
            {/each}
          </table>
        </div>
      {/if}
    </svelte:element>
  {/if}
  {#if meta.abstract}
    <details>
      <summary>{@html label("Abstract")}</summary>
      <div class="content">
        {@html meta.abstract}
      </div>
    </details>
  {/if}
  {#if toc}
    <details>
      <summary>{@html label("Table of Contents")}</summary>
      <nav class="content">
        <slot name="toc" />
      </nav>
    </details>
  {/if}
</header>

<style global lang="scss">
  .PostHeader {
    .label,
    summary::marker,
    summary::-webkit-details-marker {
      color: var(--color-comment);
    }
    .draft {
      color: var(--color-yellow);
    }

    > :not(.title) {
      margin-bottom: calc($padding / 2);
    }
    > details > .content {
      margin-top: calc($padding / 2);
      margin-left: 1em;

      > :first-child {
        margin-top: 0;
      }
      > :last-child {
        margin-bottom: 0;
      }
    }

    .dates {
      white-space: nowrap;
      .sep {
        white-space: normal;
        margin-right: 0.25em;
      }
    }
    .history {
      td {
        vertical-align: top;
      }
      .date {
        white-space: nowrap;
      }
    }
  }
</style>
