<script>
  import { label, keywords, authors, dates } from "./post.js";

  export let route;
  export let meta;
</script>

<section class="PostCard">
  {#if meta.title}
    <h1 class="title">
      <a class="post" href={route}>
        {@html meta.title}
        {#if meta.subtitle}
          <br />{@html label(meta.subtitle)}
        {/if}
      </a>
    </h1>
  {/if}
  {@html keywords(meta, { div: true })}
  {@html authors(meta, { div: true, label: true, email: false })}
  {@html dates(meta, { div: true })}
  {#if meta.description || meta.abstract}
    <div class="description">
      {#if meta.description}
        {@html meta.description}
      {:else if meta.abstract}
        {@html meta.abstract}
      {/if}
    </div>
  {/if}
</section>

<style global lang="scss">
  // appearance
  .PostCard {
    padding: $padding;
    margin: $padding;
    border-radius: $padding;

    &,
    .description {
      > :first-child {
        margin-top: 0;
      }
      > :last-child {
        margin-bottom: 0;
      }
    }

    .title,
    .keywords {
      &:not(:last-child) {
        margin-bottom: $padding;
      }
    }
    .dates {
      white-space: nowrap;
      .sep {
        white-space: normal;
        margin-right: 0.25em;
      }
    }
    .description {
      margin-top: $padding;
    }

    .label {
      color: var(--color-comment);
    }
    .draft {
      color: var(--color-yellow);
    }
  }

  // interaction
  .PostCard {
    $width: $hr-width;
    $color: var(--color-comment);

    box-shadow: 0 0 calc($width * 2) $width $color;

    @media (hover) {
      a.post:hover {
        color: inherit;
      }
      &:hover {
        box-shadow: 0 0 calc($width * 5) calc($width * 2) $color;
      }
    }
    &:has(a.post:active) {
      box-shadow: 0 0 calc($width * 5) $width $color;
    }
  }

  // nested links https://www.sarasoueidan.com/blog/nested-links/
  .PostCard {
    position: relative;
    overflow: hidden;
    a {
      position: relative;
      z-index: 1;
    }
    a.post {
      position: static;
      &::before {
        content: "";
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
</style>
