<script>
  import { page } from "$app/stores";
  import { copyright as _copyright } from "./post.js";
  import BuyMeTea from "$lib/components/BuyMeTea.svelte";

  $: meta = $page.data.meta?.display?.page ?? {};
  $: copyright = _copyright(meta);
</script>

<footer class="PostFooter">
  {#if copyright}
    <p class="copyright">
      {@html copyright}. See <a href="/lib/license">license</a> for details.
    </p>
  {/if}
  {#if meta.monetize}
    <p class="monetize">
      <BuyMeTea href="https://buy.stripe.com/5kAbJo0ut1kbgOAfYY" />
    </p>
  {/if}
</footer>

<style global lang="scss">
  .PostFooter {
    display: grid;
    grid: auto-flow / auto auto;
    justify-content: space-between;
    align-items: center;

    padding: $padding;
    gap: $padding;
    border-top: $hr-width solid currentColor;

    &:empty {
      display: none;
    }

    > * {
      margin: 0;
    }

    .copyright {
      color: var(--color-comment);
      font-size: 11pt;
    }

    .monetize {
      font-size: 13pt;
    }
  }
</style>
