<script>
  import { page } from "$app/stores";
  import { onMount } from "svelte";

  import ButterflyColor from "$lib/icons/ButterflyColor.svelte";

  import { icon } from "@fortawesome/fontawesome-svg-core";
  import {
    faHome,
    faBlog,
    faCode,
    faBars,
    faTimes,
  } from "@fortawesome/free-solid-svg-icons";

  var header;
  var nav;
  var navOpen = false;

  // nav transition
  // - this counts on the `nav` element having no verticle border or margin
  $: if (nav || navOpen)
    nav?.style.setProperty("--height", `${nav.scrollHeight}px`);

  onMount(() => {
    // hide header on scroll
    var scrollPos = 0;
    function hideOnScroll() {
      var pageTop = window.scrollY < header.offsetHeight;
      var pageEnd =
        window.scrollY > document.body.offsetHeight - window.innerHeight;
      var scrollDown = scrollPos < window.scrollY;
      var scrollDistance = Math.abs(scrollPos - window.scrollY);

      if (scrollDistance < 5) return;

      if (scrollDown || pageEnd) {
        header.style.top = `-${header.offsetHeight}px`;
      } else if (!pageTop) {
        header.style.top = "0";
      }

      scrollPos = scrollY;
    }
    header.style.backgroundColor = "var(--color-background)";
    header.style.transition = "top 0.5s";
    header.style.position = "sticky";

    // events
    window.onscroll = () => {
      hideOnScroll();
    };
  });
</script>

<header bind:this={header} {...$$restProps}>
  <div class="top">
    <a
      class="logo"
      href="/"
      aria-label="my name"
      on:click={() => (navOpen = false)}
    >
      <ButterflyColor />
      <span class="text">Ben Blazak</span>
    </a>
    <label for="navOpen" class="menu" aria-hidden="true">
      {#if navOpen}
        {@html icon(faTimes, { classes: ["fa-fw"] }).html}
      {:else}
        {@html icon(faBars, { classes: ["fa-fw"] }).html}
      {/if}
    </label>
  </div>
  <input
    type="checkbox"
    id="navOpen"
    bind:checked={navOpen}
    style="display: none"
  />
  <nav
    bind:this={nav}
    on:click={() => (navOpen = false)}
    on:keypress={(e) => {
      if (e.key === "Enter") navOpen = false;
    }}
  >
    <a href="/" sveltekit:prefetch class:active={$page.url.pathname === "/"}>
      {@html icon(faHome, { classes: ["fa-fw"] }).html}
      <span class="text">home</span>
    </a>
    <a
      href="/blog"
      sveltekit:prefetch
      class:active={$page.url.pathname.startsWith("/blog")}
    >
      {@html icon(faBlog, { classes: ["fa-fw"] }).html}
      <span class="text">blog</span>
    </a>
    <span class="divide" />
    <a href={$page.data.source_url} target="_blank" rel="noreferrer">
      {@html icon(faCode, { classes: ["fa-fw"] }).html}
      <span class="text">source</span>
    </a>
  </nav>
</header>

<style lang="scss">
  // appearance
  header {
    white-space: nowrap;
    padding: $padding;
    border-bottom: $hr-width solid currentColor;
    z-index: 100;
  }
  .logo {
    font-size: 22pt;
    font-weight: 500;
    :global(svg) {
      width: 2em;
      min-width: 2em;
      padding-right: 0.5em;
    }
  }
  .menu,
  nav > :not(.divide) {
    font-size: 11pt;
    :global(svg) {
      font-size: 2em;
    }
  }
  nav > :not(.divide) {
    padding: 0 $padding;
    @media (max-width: $screen-sm) {
      padding: $padding 0;
    }
  }
  nav > :first-child {
    @media (max-width: $screen-sm) {
      margin-top: calc($padding / 2);
    }
  }
  nav > :last-child {
    padding-right: 0;
    @media (max-width: $screen-sm) {
      padding-bottom: calc($padding / 2);
    }
  }

  // special elements
  .divide {
    border: 1px solid currentColor;
    border-radius: 1px;
    background: currentColor;
    margin: calc($padding / 2);
    @media (max-width: $screen-sm) {
      margin: calc($padding / 2) 0;
    }
  }

  // special states
  .active {
    :global(svg) {
      stroke: var(--color-accent);
      stroke-width: 1em;
      stroke-opacity: 50%;
    }
    .text {
      color: var(--color-accent);
    }
  }
  @media (max-width: $screen-sm) {
    nav {
      transition: height 0.5s;
    }
    #navOpen ~ nav {
      height: 0;
      overflow: hidden;
    }
    #navOpen:checked ~ nav {
      height: var(--height, auto);
    }
  }

  // position
  header {
    display: flex;
    justify-content: space-between;
    @media (max-width: $screen-sm) {
      flex-direction: column;
    }
  }
  .top {
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .menu {
      display: none;
      @media (max-width: $screen-sm) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  nav {
    display: flex;
    @media (max-width: $screen-sm) {
      flex-direction: column;
      width: fit-content;
      margin-left: auto;
    }
    > :not(.divide) {
      display: flex;
      align-items: center;
      justify-content: center;

      flex-direction: column;
      @media (max-width: $screen-sm) {
        flex-direction: row-reverse;
        justify-content: flex-start;
        :global(svg) {
          margin-left: 0.5em;
        }
      }
    }
  }
</style>
